<section class="my-5 py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3 mb-5">
                <div class="side-box mt-4 px-3 d-md-none d-block my-5">
                    <div class="content  pb-3">
                        <h3 class="my-3 pb-1">Download</h3>
                        <div class="data-target">
                            <div class="item active text-center my-3 px-3 py-2">
                                <p> <img src="../../../../assets/icons/download.svg"> Company Report 2020</p>
                            </div>
                            <div class="item brochure my-3 px-3 py-2">
                                <p> <img src="../../../../assets/icons/download.svg"> Company Brochure</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-box px-3 ">
                    <div class="content  pb-3">
                        <h3 class="my-4 pb-1">Media & Gallery</h3>
                        <div class="data-target">
                            <!-- <li class="list-group-item" *ngFor="let item of galleryList">
                                <input type="radio" class="radio" [(ngModel)]="selected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" />
                            </li> -->
                            <div class="item active my-3 px-3 py-3" *ngFor="let item of galleryList">
                                <input type="radio" class="radio" [(ngModel)]="selected" name="list_name" value="{{item.value}}" (change)="onItemChange(item)" />
                                <h5>{{item.title}}</h5> <span class="arrow text-right"><b>&#8669;</b></span>
                                <!-- </input> -->
                            </div>
                            <!-- <div class="item my-3 px-3 py-3">
                                <h5>Awards & Recognition
                                </h5>
                                <span class="arrow text-right"><b>&#8669;</b></span> </div>
                            <div class="item my-3 px-3 py-3">
                                <h5>Projects Done
                                </h5>
                                <span class="arrow text-right"><b>&#8669;</b></span> </div>
                            <div class="item my-3 px-3 py-3">
                                <h5>Exhibitions</h5> <span class="arrow text-right"><b>&#8669;</b></span>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="side-box mt-4 px-3 d-none d-md-block ">
                    <div class="content  pb-3">
                        <h3 class="my-3 pb-1">Download</h3>
                        <div class="data-target">
                            <div class="item active text-center my-3 px-3 py-3">
                                <p style="margin-top: -5px;"> <img src="../../../../assets/icons/download.svg"> Company Report 2020</p>
                            </div>
                            <div class="item brochure my-3 px-3 py-3">
                                <p style="margin-top: -5px;"> <img src="../../../../assets/icons/download.svg"> Company Brochure
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="h-20 text-center text-md-left">
                    <p>We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.We are lorem ipsum dolor sit amet, consectetur adipiscing
                        elit. Convallis rhoncus ipsum nunc </p>
                </div>
                <div class="h-80">
                    <div class="cards">
                        <div class="cards-item text-center">
                            <img class="active" (mouseover)="hoverImg($event)" src="../../../../assets/sample/mediaGallery1.jpg" alt="">
                            <img (mouseover)="hoverImg($event)" src="../../../../assets/sample/mediaGallery1.jpg" alt="">
                            <img (mouseover)="hoverImg($event)" src="../../../../assets/sample/mediaGallery1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="row" id="banner_area">
                    <div class="col-12 h-100 banner_image">
                        <!-- <img src="../../../../assets/home/sample_banner_1.svg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
