<section class="my-5 py-3" id="media">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 mb-5">
                <div class="side-box mt-4 px-3 d-md-none d-block my-5">
                    <div class="content  pb-3">
                        <h3 class="my-3 pb-1">Download</h3>
                        <div class="data-target">
                            <div class="item active text-center my-3 px-3 py-2">
                                <p> <img src="../../../../assets/icons/download.svg"> Company Report 2020</p>
                            </div>
                            <div class="item brochure my-3 px-3 py-2">
                                <p> <img src="../../../../assets/icons/download.svg"> Company Brochure</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-box px-3 ">
                    <div class="content  pb-3">
                        <h3 class="my-4 pb-1">Media & Gallery</h3>
                        <div class="data-target">
                            <div class="item-list" *ngFor="let item of galleryList">
                                <div class="item my-3 px-3 py-3" id="item_id_{{item.id}}" (click)="clickSelectActiveItem('item_id_', item.id)">
                                    <h5>{{item.title}}</h5>
                                    <span class="arrow text-right"><b> &#8669; </b></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="side-box mt-4 px-3 d-none d-md-block " id="download">
                    <div class="content  pb-3">
                        <h3 class="my-3 pb-1">Download</h3>
                        <div class="data-target">
                            <div class="item active text-center my-3 px-3 py-3">
                                <p style="margin-top: -5px;"> <img src="../../../../assets/icons/download.svg"> Company Report 2020</p>
                            </div>
                            <div class="item brochure my-3 px-3 py-3">
                                <p style="margin-top: -5px;"> <img src="../../../../assets/icons/download.svg"> Company Brochure
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="data">
                    <div class="h-20 text-center text-md-left">
                        <p>{{selectedItem.message}} </p>
                    </div>
                    <div class="h-80">
                        <div class="cards">
                            <div class="cards-item text-center" data-aos-easing="ease-in-back" data-aos-duration="800" data-aos-duration="800" data-aos="fade-left">
                                <img *ngFor="let item of this.selectedItem.images" id="image_id_{{item.id}}" (mouseover)="hoverSelectActiveImg('image_id_' + item.id)" src="{{ item.img_url}}" alt="{{item.img_discription}}">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="banner_area" data-aos-easing="ease-in-back" data-aos-duration="800" data-aos-duration="800" data-aos="fade-up">
                    <div class="col-12 h-100 banner_image">
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
