<div class="container-fluid header h-100 mx-0">
    <div class="row h-100">
        <div class="text-center img_area">
            <img class="img_1" data-aos-delay="1000" data-aos-duration="800" data-aos="zoom-in" src="../../../../assets/home/bg_bubbles.svg" alt="">
            <img class="img_2" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="100" data-aos-duration="600" src="../../../../assets/home/header_back_bg.svg" alt="">
            <img class="img_3" src="../../../../assets/home/header_front_bg.svg" alt="">

            <img class="img_1_responsive" data-aos-delay="1000" data-aos-duration="800" data-aos="zoom-in" src="../../../../assets/home/responsive/bg_bubbles.svg" alt="">
            <img class="img_2_responsive" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-delay="800" data-aos-duration="1000" src="../../../../assets/home/responsive/header_back_bg.svg" alt="">
            <img class="img_3_responsive" src="../../../../assets/home/responsive/header_front_bg.svg" alt="">

        </div>

        <div class="container-fluid header-content pt-5">
            <div class="row ml-md-5 mt-5 subscribe pt-3">
                <div class="col-lg-4 pt-5 mt-5 text-wrap text-white text-lg-left text-center ">
                    <h1 class="font-weight-bold">Find Your Place of Dream</h1>
                    <p>We are glad to have you around. Feel free to browse our website.</p>
                    <div class="search-container">
                        <form>
                            <input type="text" class="pl-3" placeholder="Enter your mail id" name="search">
                            <button type="submit" style="padding: 6px 1px 5px 1px;">
                            <span style="border-radius: 50px 50px 50px 50px;">Subscribe</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="row mx-5 info_section">
                <div class="col-lg-4 d-flex order-lg-1  order-2">
                    <div class="row align-items-end mb-2 playButton ">
                        <div class="col-2 m-0 ">
                            <img src="../../../../assets/home/play.svg">
                        </div>
                        <div class="col-10 pl-0 ml-0 py-auto text-wrap">
                            <p><b><i>Watch how
                    <span style="color: #3F51F4;">Tylax</span>
                    works
                  </i></b>
                                <br> Presented by VEEKAY TECHNOCHEM
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4  text-lg-right text-center text-wrap offset-lg-4 exploreVenture order-lg-2 order1">
                    <h2 style="color: #0193FD;">Explore Our</h2>
                    <h2 style="color: #3F51F4;">Venture</h2>
                    <p style=" color: #3E3E3E;">We have worked on some of the stunning architectural marvels within industries like hotels, residential buildings, offices, commercial buildings etc. and made them great successes.
                    </p>
                    <button class="px-4 py-2">
            Learn More
          </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center info_section_responsive">
    <div class="row mx-5 text-center">
        <div class="col-lg-4 mt-4  text-lg-right text-center text-wrap  exploreVenture ">
            <h2 style="color: #0193FD;">Explore Our</h2>
            <h2 style="color: #3F51F4;">Venture</h2>
            <p style=" color: #3E3E3E;">We have worked on some of the stunning architectural marvels within industries like hotels, residential buildings, offices, commercial buildings etc. and made them great successes.
            </p>
            <button class="px-4 py-2">
           Learn More
         </button>
            <br> <br>
        </div>
        <br>
        <div class="col-lg-4 d-flex mt-5">
            <div class="row mb-2 playButton text-center mx-auto">
                <div class="col-2 m-0 ">
                    <img src="../../../../assets/home/play.svg">
                </div>
                <div class="col-10 pl-0 ml-0 py-auto text-left">
                    <p><b><i> &nbsp; Watch how
              <span style="color: #3F51F4;">Tylax</span>
              works
            </i></b>
                        <br> &nbsp; Presented by VEEKAY TECHNOCHEM
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
