<section>
    <div class="container pt-5">
        <div class="row subscribe pt-3">
            <div class="col-lg-4 pt-5 mt-5 text-wrap text-white text-lg-left text-center ">
                <h1 class="font-weight-bold">Find Your Place of Dream</h1>
                <p>We are glad to have you around. Feel free to browse our website.</p>
                <div class="search-container">
                    <form>
                        <input type="text" class="pl-3" placeholder="Enter your mail id here........" name="search">
                        <button type="submit">
                      <span>Subscribe</span>
                      </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pt-2 ">
            <div class="col-lg-4 d-flex order-lg-1  order-2">
                <div class="row align-items-end  playButton ">
                    <div class="col-2 m-0">
                        <img src="../../../../assets/home/play.svg">
                    </div>
                    <div class="col-7 pl-0 ml-0 py-auto text-wrap">
                        <p><b><i>Watch how
                          <!-- <span style="color: #0193FD;">The</span> -->
                          <span style="color: #3F51F4;">Tylax</span>
                          works</i></b> Presented by VEEKAY TECHNOCHEM
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 text-lg-right text-center text-wrap offset-lg-4 exploreVenture order-lg-2 order1">
                <h2 style="color: #0193FD;">Explore Our</h2>
                <h2 style="color: #3F51F4;">Venture</h2>
                <p style=" color: #3E3E3E;">We have worked on some of the stunning architectural marvels within industries like hotels, residential buildings, offices, commercial buildings etc. and made them great successes.
                </p>
                <button class="px-4 py-2">
            Learn More
          </button>
            </div>
        </div>
    </div>
</section>
