<div class="container-fluid mr-0 pr-0">
    <div class="row text-center h-100 pr-0 mr-0" style="padding: 20px;">
        <div class="col-md-6 text-center m-auto" style="background: #F2F2F2;
        border-radius: 10px;
        max-width: min-content;
        padding: 0 35px;
        height: fit-content;
        color: rgb(37, 37, 37);
        box-shadow: 3px 2px 13px 3px rgba(62,62,62,0.24);
        -webkit-box-shadow: 3px 2px 13px 3px rgba(62,62,62,0.24);
        -moz-box-shadow: 3px 2px 13px 3px rgba(62,62,62,0.24);">
            <div class="row my-5 text-md-left text-center">
                <h2 class="text-md-left text-center mx-auto mx-md-0"><b>Contact Us</b></h2>
                <p class="message"> Complete control over products allows us to ensure our customers receive the best quality prices & Services. We take great pride in everything that we do in our company. </p>
                <div class="row my-4">
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="text" class="pl-md-2 name" placeholder="Your Name" style="    background: #FFFFFF;
   box-shadow:  inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
   border-radius: 5px;border: 0px; min-height: 32px;">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="email" class="ml-md-5 pl-md-2 email" placeholder="Email Id" style="    background: #FFFFFF;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
   border-radius: 5px;border: 0px;min-height: 32px;">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="number" class="pl-md-2 number" placeholder="Phone Number" style="    background: #FFFFFF;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
   border-radius: 5px;border: 0px;min-height: 32px;">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <select name="" id="" class="ml-md-5 pl-md-2 dropDown" placeholder="Email Id" style="    background: #FFFFFF;
   box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15), inset 0px 0px 1px 1px rgba(0, 0, 0, 0.25);
   border-radius: 5px;border: 0px;min-height: 32px;">
              <option selected value="0">Request A Quote &nbsp;</option>
              <option value="1">abc</option>
              <option value="2">def</option>
              <option value="3">ghi</option>
            </select>
                    </div>
                    <div class="col-md-12 my-3 my-md-2">
                        <textarea class="pl-md-2 textMessage" rows="3" cols="64" placeholder="Drop Your Message Here......" style="
    background: #FFFFFF;
     box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.25);
   border-radius: 5px;border: 0px;min-height: 32px;"></textarea>
                    </div>
                    <div class="col-md-4 order-2 order-md-1 my-4 my-md-0" style="
                    bottom: -30px;">
                        <button class="shadow-sm" style="    background: linear-gradient(
90deg, #385AF6 0%, #0D87FC 97.29%);
    border-radius: 4px;
    border: none;
    color: white;
    min-height: 40px;
    width: inherit;"><b>Submit
                Request</b></button>
                    </div>
                    <div class="col-md-8  my-auto order-1 order-md-2" style="
                    bottom: -30px;">
                        <input type="checkbox" class="privacy" style="width: auto;"> I accept the privacy & terms
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 pr-0 mr-0" style="background: url('../../../assets/home/feedback_lady.svg') no-repeat;">
            <!-- <img src="../../../assets/home/feedback_lady.svg"  alt=""> -->
        </div>
    </div>
</div>
