<section>
    <div class="text-center topRow">
        <div class="row m-1 pt-md-5 pb-md-5 pt-0 pb-5 pl-md-5 pr-md-2 px-3 ">
            <div class="col-md-4 order-2 order-md-1 text-white text-md-left text-center py-4 contactColumn">
                <h5>Quick Contact</h5>
                <table class="mt-4 text-white text-md-left text-center mx-auto mx-md-0">
                    <tr>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>Email : </td>
                        <td> </td>
                        <td>info@thetylax.com</td>
                    </tr>
                    <br>
                    <tr>
                        <td>Support :</td>
                        <td> &nbsp;</td>
                        <td>support@thetylax.com</td>
                    </tr>
                </table>
                <br>
                <p class="text-md-left text-center address">270-B, Chowk Main Road, Near XYZ Mall, Lucknow, 271012, U.P</p>
                <hr class="my-4" style="background-color: white;">
                <p class="message">We will get back to you within 24 hours, or call us everyday, <br> 09:00 AM - 06:00 PM</p>
                <table class="text-white text-md-left text-center mx-auto mx-md-0">
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            <img src="../../../assets/icons/phone.svg" alt="">
                        </td>
                        <td>
                            <span class="mobileNumber"> &nbsp; +91 9717537597</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-7 ml-md-4 mt-5 mb-md-3 mb-5 mt-md-0 mb-md-0 order-1 order-md-2  text-md-left text-center contactForm">
                <h2><b>Contact Us</b></h2>
                <p class="message"> Complete control over prodcuts allows us to ensure our customers receive the best quality prices & Services. We take great pride in everything that we do in our company. </p>

                <div class="row my-4">
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="text" class="pl-md-2 name" placeholder="Your Name">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="email" class="ml-md-5 pl-md-2 email" placeholder="Email Id">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <input type="number" class="pl-md-2 number" placeholder="Phone Number">
                    </div>
                    <div class="col-md-5 mb-md-4 my-3 my-md-2">
                        <select name="" id="" class="ml-md-5 pl-md-2 dropDown" placeholder="Email Id">
                        <option selected value="0">Request A Quote</option>
                        <option value="1">abc</option>
                        <option value="2">def</option>
                        <option value="3">ghi</option>
                      </select>
                    </div>
                    <div class="col-md-12 mb-md-4 my-3 my-md-2">
                        <textarea class="pl-md-2 textMessage" rows="2" placeholder="Drop Your Message Here......"></textarea>
                    </div>
                    <div class="col-md-4 order-2 order-md-1 my-4 my-md-0" style="
                    bottom: -30px;">
                        <button class="buttonSumbit"><b>Submit Request</b></button>
                    </div>
                    <div class="col-md-6 ml-md-3 my-auto order-1 order-md-2" style="
                    bottom: -30px;">
                        <input type="checkbox" class="privacy"> I accept the privacy & terms
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
