<nav class="navbar navbar-expand-lg navbar-fixed-top  navbar-dark main-nav">
    <div class="container-fluid mx-lg-5 mx-2">
        <ul class="nav navbar-nav text-nowrap flex-row mx-lg-auto  order-lg-1">
            <li class="nav-item">
                <div class="logo"></div>
            </li>
        </ul>

        <div class="mx-auto navbar-collapse collapse nav-content order-2 order-lg-2" style="font-size: larger;">
            <ul class=" mx-auto nav navbar-nav ">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Company</a>
                </li>
                <!-- font-weight-bold text-uppercase -->
                <li class="nav-item dropdown megamenu">
                    <a id="megamneu" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle ">Products</a>
                    <div aria-labelledby="megamneu" class="dropdown-menu border-0 p-0 m-0">
                        <div class="container">
                            <div class="row w-100 bg-white rounded-0 m-0 mx-lg-5 shadow-sm">
                                <div class="col-lg-7 col-xl-8">
                                    <div class="p-4">
                                        <div class="row">
                                            <div class="col-lg-6 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">Heading one</h6>
                                                <ul class="list-unstyled text-center">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0">Home</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">Heading two</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">Heading three</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-6 mb-4">
                                                <h6 class="font-weight-bold text-uppercase">Heading four</h6>
                                                <ul class="list-unstyled">
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Home</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">About</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Help</a></li>
                                                    <li class="nav-item"><a href="" class="nav-link text-small pb-0 ">Account</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-xl-4 px-0 d-none d-lg-block" style="background: center center url(https://images.unsplash.com/photo-1533637267520-4dfd6aa7ee93?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1268&q=80)no-repeat; background-size: cover;"></div>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#">Application</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Media & Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Download</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </div>
        <div class="nav navbar-nav text-nowrap flex-row mx-lg-auto  order-lg-3 contactInfo ">
            <ul class="ml-auto navbar-dark navbar-nav">
                <li class="nav-item" style="border: 1px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.25);
            border-radius: 43px; color: white;
            font-family: Montserrat;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            text-align: center;width: 181px;
            height: 46px;">
                    <p class=" p-0" style="margin:4px 0 0 0;"> Customer Support </p>
                    <p class="m-0 p-0"> +91 406-816-0001 </p>
                </li>
            </ul>
        </div>


        <ul class="nav navbar-nav text-nowrap flex-row mx-lg-auto order-lg-3">
            <!-- <button type="button" class="navbar-toggler ml-2" data-toggle="collapse" data-target=".nav-content">
        <span class="navbar-toggler-icon"></span>
      </button> -->
            <div class="navbar-toggler mx-auto toggleButton" data-toggle="collapse" data-target=".nav-content" (click)="addRemoveCustomClass()"> </div>
        </ul>
    </div>
</nav>
