<section>
    <div class="container my-5 py-5">
        <!-- <div #child1>First Child</div>
        <div>Second Child</div> -->
        <div class="row">
            <div class="col-lg-6 text-center order-md-1 order-2 d-lg-flex d-none">
                <div class="application-img text-center">
                    <img class="mx-2" src="../../../../assets/sample/application1a.svg" alt="">

                    <img class="mx-2" src="../../../../assets/sample/application1b.svg" alt="">

                    <img class="mx-2" src="../../../../assets/sample/application1c.svg" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-lg-right text-center order-md-2 order-1">
                <h2 class="mx-3">Application</h2>
                <div class="content text-right">
                    <div class="content-item my-4 application active">
                        <div class="hideShow my-1" (click)="openCloseApplication($event)">
                            <img src="../../../../assets/icons/minus.svg" alt="">
                        </div>

                        <h4>Application-1</h4>
                        <div class="data ">
                            <p>We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.</p>

                        </div>
                    </div>
                    <div class="content-item my-4 application">
                        <div class="hideShow my-1" (click)="openCloseApplication($event)">
                            <img src="../../../../assets/icons/plus.svg" alt="">
                        </div>

                        <h4>Application-2</h4>
                        <div class="data">
                            <p>We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.</p>

                        </div>
                    </div>
                    <div class="content-item my-4 application">
                        <div class="hideShow my-1" (click)="openCloseApplication($event)">
                            <img src="../../../../assets/icons/plus.svg" alt="">
                        </div>

                        <h4>Application-3</h4>
                        <div class="data">
                            <p>We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.</p>

                        </div>
                    </div>
                    <div class="content-item my-4 application">
                        <div class="hideShow my-1" (click)="openCloseApplication($event)">
                            <img src="../../../../assets/icons/plus.svg" alt="">
                        </div>

                        <h4>Application-4</h4>
                        <div class="data">
                            <p>We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.</p>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
