<section class="footer mt-5">
    <div class="container pt-3">
        <div class="row text-center text-md-left pt-5">
            <div class="col-md-3 mt-3 text-center my-4 my-md-0" style="display: flex;
            flex-direction: column;">
                <div class="row mx-auto text-center">
                    <img src="../../../../assets/home/logo.svg" alt="">
                </div>
                <div class="row  mt-3 mx-auto text-center">
                    <img src="../../../../assets/logo/TYLAX.svg" alt="">
                </div>

            </div>
            <div class="col-md-2 mx-auto my-md-0 my-4 text-white">
                <h5 class="font-weight-bold mt-2 mb-3">Company</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/">About Us</a>
                    </li>
                    <li>
                        <a routerLink="/college">Applications</a>
                    </li>
                    <li>
                        <a href="#!">Success Stories</a>
                    </li>
                    <li>
                        <a href="#!">Products</a>
                    </li>
                    <li>
                        <a href="#!">Contact Us</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto my-md-0 my-4  text-white">
                <h5 class="font-weight-bold mt-2 mb-3">Popular Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a routerLink="/">Browse Jobs</a>
                    </li>
                    <li>
                        <a routerLink="/college">Browse Companies</a>
                    </li>
                    <li>
                        <a href="#!">Our Latest Product</a>
                    </li>
                    <li>
                        <a href="#!">LA Real Esate</a>
                    </li>
                    <li>
                        <a href="#!">Dream Jobs Events</a>
                    </li>
                    <li>
                        <a href="#!">Podcasts</a>
                    </li>
                    <li>
                        <a href="#!">Media & Gallery</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-2 mx-auto my-md-0 my-4  text-white">
                <h5 class="font-weight-bold mt-2 mb-3">Our Offices</h5>
                <ul class="list-unstyled">
                    <li><b>Lucknow-1</b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                    <br>
                    <li><b>Lucknow-1</b> <br>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </li>
                </ul>
            </div>

            <div class="col-md-3 my-md-0 my-4  mx-auto text-white text-center social-media">
                <h5 class="font-weight-bold mt-2 mb-3 ">Follow Us</h5>
                <img src="../../../assets/icons/Linkedin.svg" alt=""> &nbsp;
                <img src="../../../assets/icons/Instagram.svg" alt="">&nbsp;
                <img src="../../../assets/icons/Facebook.svg" alt="">&nbsp;
                <img src="../../../assets/icons/Twitter.svg" alt="">&nbsp;
                <img src="../../../assets/icons/Youtube.svg" alt="">

            </div>
        </div>
        <div class="row text-center text-md-left mt-3 pt-5 pb-3">
            <div class="col-md-3 mb-md-0 mb-2 ">
                <a class="text-white" href="">Term of Use</a> &nbsp; &nbsp;
                <a class="text-white" href="">Privacy Statement</a>
            </div>
            <div class="col-md-3 offset-md-6  text-center text-md-right text-white"> @2021 All Rights Reserved. </div>
        </div>
    </div>
</section>
