ul {
    margin: 0px;
    padding: 0px;
}

.footer-cta {
    border-bottom: 1px solid #373636;
}

.single-cta i {
    color: #fff;
    font-size: 30px;
    float: left;
    margin-top: 8px;
}

.cta-text {
    padding-left: 15px;
    display: inline-block;
}

.cta-text h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 2px;
}

.cta-text span {
    color: #e6e6e6;
    font-size: 15px;
}

.footer-content {
    position: relative;
    z-index: 2;
}

.footer-pattern img {
    position: absolute;
    top: 0;
    left: 0;
    height: 330px;
    background-size: cover;
    background-position: 100% 100%;
}

.footer-logo {
    margin-bottom: 30px;
}

.footer-logo img {
    max-width: 200px;
}

.footer-text h5 {
    margin-bottom: 14px;
    font-size: 16px;
    color: #ffffff;
    line-height: 28px;
}

.footer-widget-heading h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 650;
    margin-bottom: 50px;
    position: relative;
}

.footer-widget-heading h2::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -15px;
    height: 2px;
    width: 100px;
    background: #fff;
}

div.footer-logo {
    position: relative;
    margin-bottom: 40px;
}

.footer-widget ul li {
    display: inline-block;
    /* float: left; */
    width: 100%;
    margin-bottom: 12px;
}

.footer-widget ul li a:hover {
    color: #fff;
}

.footer-widget ul li a {
    color: #e6e6e6;
    text-transform: capitalize;
    font-size: 14px;
}

.copyright-area {
    padding: 25px 0;
}

.copyright-text p {
    margin: 0;
    font-size: 14px;
    color: #e6e6e6;
}

.copyright-text p a {
    color: #fff;
}

.footer-menu li {
    display: inline-block;
    margin-left: 20px;
}

.footer-menu li:hover a {
    color: #fff;
}

.footer-menu li a {
    font-size: 14px;
    color: #e6e6e6;
}

a img.social_icon {
    height: 25px;
    width: 25px;
    transition: 800ms;
}

a img.social_icon:hover {
    height: 30px;
    width: 30px;
}

footer.footer-section {
    background: url('../../../assets/home/footer_bg.png') no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    padding-top: 35vh;
    margin-right: -2px;
    margin-left: -2px;
}

@media (max-width:480px) {
    footer.footer-section {
        background: url('../../../assets/home/footer_bg_1.png') no-repeat;
        background-size: cover;
    }
}
