<section class="my-5">
    <div class="container text-center">
        <h1>Client Diaries</h1>
        <h5 class="text-center m-auto pb-md-3">Your Choice, We Care = Our Responsibility!</h5>
        <div class="col-lg-6 text-center mt-5 mx-auto">
            <div class="text-center thumbnail-section" style="
            background-image: url('../../../../assets/sample/howItWorksBg.svg');
            background-repeat:no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-flex;">
                <img class="text-center thumbnail-video" src="../../../../assets/sample/howItWorksBgVideo.png" alt="" style="
    height: 350px;
    padding: 20px;
">
            </div>
        </div>
    </div>
</section>
