@media (max-width: 600px) {
    div.thumbnail-section {
        display: inline-flex;
        img.thumbnail-video {
            max-width: 280px;
            height: auto !important;
        }
    }
}
