<section class="my-5" id="works">
    <div class="container text-center">
        <h1>How It Works!</h1>
        <p class="text-center m-auto pb-md-3" style="width: 80%;">We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.We are lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Convallis rhoncus ipsum nunc </p>
        <div class="col-lg-6 text-center mt-5 mx-auto">
            <div class="text-center thumbnail-section" style="
            background-image: url('../../../../assets/sample/howItWorksBg.svg');
            background-repeat:no-repeat;
            background-size: contain;
            background-position: center;
            display: inline-flex;">
                <img data-aos-easing="ease-in-back" data-aos-duration="800" data-aos-duration="800" data-aos="flip-up" class="text-center thumbnail-video" src="../../../../assets/sample/howItWorksBgVideo.png" alt="" style="
    height: 400px;
    padding: 20px;
">
            </div>
        </div>
    </div>
</section>
