<section class="my-5">
    <div class="container text-center">
        <h2>How It Works!</h2>
        <p class="text-center m-auto pb-md-3">We are lorem ipsum dolor sit amet, consectetur adipiscing elit. Convallis rhoncus ipsum nunc consectetur lorem a eu amet ac. Bibendum est molestie dui arcu mi at cras malesuada nunc.We are lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Convallis rhoncus ipsum nunc </p>
        <!-- <img src="../../../../assets/sample/howItWorksBg.svg" style="    width: 40%;
        display: inline-flex;
        position: absolute;
        z-index: -2;
        right: 30%;" alt="">
        <img src="../../../../assets/sample/howItWorksBgVideo.png" style="width: 40%;
        position: relative;
        top: 21px;" alt=""> -->


        <div class="col-6  my-auto mx-auto text-right imageArea">
            <div class="image-stack">
                <div class="image-stack__item image-stack__item--top">
                    <img src="../../../../assets/sample/howItWorksBgVideo.png" alt="">
                </div>
                <div class="image-stack__item image-stack__item--bottom">
                    <img src="../../../../assets/sample/howItWorksBg.svg" alt="">
                </div>
            </div>
            <!-- <img src="" class="bgImage" alt="Tylax Bg">
            <img src="" class="frontImage" alt="Tylax Bg"> -->
        </div>
    </div>
</section>
