<section style="height: auto;" class="py-5">
    <div class="container h-100 my-5">
        <section class="img_card">
            <div class="row h-100 p-lg-5">

                <div class="col-lg-6 my-auto text-lg-right text-center imageArea">
                    <div>
                        <img src="{{radioSel.img_url}}" alt="{{radioSel.img_discription}}">
                    </div>
                </div>
                <div class="col-lg-6 my-auto text-lg-right text-center imageArea">
                    <div class="data">
                        <h1>Who We Are</h1>
                        <p><b>{{radioSel.title}}</b></p>
                        <p>
                            {{radioSel.message}}
                        </p>
                    </div>
                    <div class="radios">
                        <ul class="list-group">
                            <li class="list-group-item" *ngFor="let item of itemsList">
                                <input type="radio" class="radio" [(ngModel)]="radioSelected" name="list_name" value={{item.value}} (change)="onItemChange()" />
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
</section>
