ul.list-group {
    justify-content: flex-end;
}

li.list-group-item {
    width: 25px;
}

.radios .radio {
    background-color: #ffffff;
    width: 12px;
    height: 12px;
    border: 1px solid #385AF6;
    box-sizing: border-box;
    cursor: pointer;
    border-radius: 20px;
    margin: 5px 5px;
}

// .radios input[type=radio] {
//     display: none;
// }
// .radios input[type=radio]:checked+.radio {
//     // background-color: #0491FD;
//     background: #3F51F4;
//     box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.15);
// }
div.imageArea {
    img.bgImage {
        height: 350px;
        z-index: 1;
    }
    img.frontImage {
        height: 300px;
        z-index: 2;
        position: absolute;
        right: 25px;
        top: 25px;
    }
}

div.imageAreaForMobile {
    display: none;
}

@media (max-width:600px) {
    div.imageArea {
        display: none;
    }
    div.imageAreaForMobile {
        display: contents;
    }
    ul.list-group {
        justify-content: center;
    }
}

.image-stack {
    display: grid;
    position: relative; // imperative for the overlapping to work
    grid-template-columns: repeat(12, 1fr);
}

.image-stack__item--bottom {
    grid-column: 1/-1;
    grid-row: 1;
}

.image-stack__item--top {
    grid-row: 1;
    grid-column: 2/span 11;
    padding-top: 7%;
    z-index: 1;
}

img {
    width: 100%;
    display: block;
}

.list-group {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
    border: none;
    li {
        border: none;
    }
}
